
.about-tab-main {
    padding: 0;
}

.about-tab-main ul {
    margin: 0;
}

ul.about-tab-row li::before {
    display: none;
}

ul.about-tab-row {
    gap: 12px;
}

ul.about-tab-row li {
    background-color: var(--Navy);
    padding: 0;
}

ul.about-tab-row li a {
    color: var(--White);
}