.case-study-main{padding: 80px 0;}
.case-study-main p:nth-child(2) span{ font-size: 22px; line-height: 2.063rem;}
.case-study-row{gap: 40px;}
.case-study-list{flex: 0 0 48%}
.case-study-image-caption{padding: 50px 0 22px;}
.case-study-caption{padding-left: 32px; color: var(--Gray);}
.case-caption-desc{border-left: 1px solid var(--Light-Blue); padding: 24px 0 8px 16px;}
.case-study-list:nth-child(even) .case-study-image-caption{flex-direction: column-reverse;}
.case-study-main ul{margin-bottom: 0;}
.case-study-data-block{padding: 64px 0;}
.case-study-data-wrap{padding: 24px;}
.case-study-data-main{gap: 24px; padding: 24px; background: var(--Light-Blue-Tint); border-radius: 8px;}
.case-study-icon{flex: 0 0 80px;}
.case-study-data-main h3{flex: 0 0 calc(100% - 104px); margin-bottom: 0; font-size: 24px; line-height: 30px;}

.case-study-data-bracket{ width: 48px; height: 100%; top: 0; border: 1px solid var(--Light-Blue); z-index: -1;}
.case-study-data-bracket.left{left: 0; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.case-study-data-bracket.right{right: 0; border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
