

ul.breadcrumbs{margin: 0 0 55px; gap: 12px;}
ul.breadcrumbs li::before{display: none;}
ul.breadcrumbs li{margin: 0; gap: 12px; width: fit-content;}
ul.breadcrumbs li:first-child i.fa-chevron-right{display: none;}
ul.breadcrumbs li > i.fa-chevron-right{opacity: 0.5; width: fit-content;}
ul.breadcrumbs li a i.fa-house-icon{color: var(--Light-Blue);}
ul.breadcrumbs li a{width: fit-content;}

.default-block-con{margin-bottom: 60px; color: var(--Navy);}
.default-block-con span{margin-bottom: 30px;}
.default-block-con .h1{margin-bottom: 32px;}

.default-article h2:not(.micro-cta-text h2){padding-top: 32px;}
.default-article p:nth-child(4) span:not(.fs-16){font-size: 22px; line-height: 33px;}
.default-article p span:not(.fs-16){font-size: 20px; line-height: 30px}
.default-article h3{padding-top: 34px;}
.default-article h6{padding-top: 33px;}


.default-article ul:not(.breadcrumbs){margin-bottom: 0;}
.default-image-caption{padding: 50px 0 22px;}
.default-caption{padding-left: 48px; color: var(--Gray);}
.caption-desc{border-left: 1px solid var(--Light-Blue); padding: 24px 0 8px 16px;}

.default-article .default-image-caption > h3{padding-top: 5px;}
.default-article h4{padding-top: 25px;}

.default-line-wrap{padding: 38px 0 50px; }
.default-line-in{border-left: 8px solid var(--Orange); padding: 0 32px 0 0;}
.default-line-text { padding: 12px 0 12px 24px; font-weight: 600; color: var(--Blue); margin-bottom: 0; flex: 1;}
.default-line-arrow{flex: 0 0 80px;}

body.page-template-default .default-line-text {
    padding: 7px 0 7px 24px;}

.asidebar-nav h3{margin-bottom: 5px;}
.asidebar-nav hr{margin-bottom: 9px;}

ul.aside-links{margin:  0 0 20px; }
ul.aside-links > li::before{display: none;}
ul.aside-links > li{margin: 0;}
ul.aside-links > li > a{gap: 10px; border-bottom: 1px solid var(--Light-Blue); padding: 16px 0 16px; font-weight: 600; }
ul.aside-links > li:last-child > a{border-bottom: none;}
ul.aside-links > li > a i{left: 0; top: 2px; color: var(--Light-Blue); font-size: 20px; line-height: 25px; position: relative;} 
ul.aside-links > li > a:hover i{left: 8px;}

.sidebar-link{gap: 8px; margin-bottom: 20px; padding-right: 16px;}
.sidebar-link a{width: fit-content;}

.sidebar-block{background: linear-gradient(180deg, rgba(25, 35, 76, 0.00) 0%, rgba(25, 35, 76, 0.75) 100%), var(--Blue); color: var(--White); border-radius: 24px;padding: 32px; margin-bottom: 40px;}
.sidebar-block h5{color: var(--White);}
.sidebar-icon{font-size: 40px; width: 40px; margin-bottom: 20px; color: var(--Light-Blue);}
.sidebar-block .button{width: 100%;}
body.single-post .sidebar-icon{margin-bottom: 16px;}
body.single-post .sidebar-block h5{margin-bottom: 16px;}
body.single-post .sidebar-link{padding-right: 32px; margin-bottom: 16px;}
body.single-post .sidebar-block p{margin-bottom: 15px;}

.sidebar-row{gap: 38px 0;}
.sidebar-list{gap: 15px;}
.sidebar-img {width: 80px; height: 80px;}
.sidebar-info span{display: block; font-size: 18px; font-weight: 700; color: var(--Navy); margin-bottom: 0; line-height: 22px;}
.sidebar-info p{color: var(--Gray); opacity: 0.5; margin-bottom: 4px;}
.sidebar-con{gap: 8px; color: var(--Blue); font-weight: 700;}
.sidebar-con i{color: var(--Orange); font-size: 16px;}
.sidebar-block-lt{margin-bottom: 24px;}
/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .default-main{gap: 80px; padding: 80px 0 40px;}
    .default-article{flex: 1;}
    .default-aside{flex: 0 0 300px;}
}
@media screen and (max-width:1023px) and (min-width:744px) {
    .default-main{display: block; padding: 80px 0 40px;}
    .default-article{margin-bottom: 40px;}
    .sidebar-list:last-child{margin-bottom: 0;}
    .sidebar-block{width: 100%; gap: 80px; align-items: center; display: flex; flex-wrap: wrap;}
    .sidebar-block-lt{flex: 1;}
    .sidebar-block-rt{width: fit-content;}
    .sidebar-block-lt{margin-bottom: 0;}
}
@media screen and (max-width: 743px) and (min-width: 200px) {
    .default-main{display: block; padding: 40px 0 44px;}
    .default-block-con{margin-bottom: 57px;}
    .default-block-con .h1{font-size: 48px; line-height: 55px;}
    .default-article h1{font-size: 48px; line-height: 60px;}
    .default-article h2:not(.micro-cta-text h2){font-size: 40px; line-height: 50px;}

    
    ul.breadcrumbs{display: none;}

    .default-aside{padding-top: 80px;}
    
    .default-caption { padding-left: 25px;}
    .caption-desc{padding: 24px 24px 8px;}
    
    .default-line-wrap { padding: 32px 0 54px; }
    .default-line-text{padding: 0px 0 19px 24px; line-height: 30px;}
    .default-line-in{display: block;}
    .default-lin-lt{padding: 0 0 24px;}

    .sidebar-block{margin-bottom: 43px;}
    .sidebar-block-lt { margin-bottom: 22px; }

    .sidebar-list{flex-direction: row;}
    .sidebar-info{flex: 1;}


    .default-line-arrow{padding-left: 24px; opacity: 1;}
    .default-line-arrow svg{width: 32px; height: 32px;}
    .default-line-arrow svg:not(:first-child){width: 20px;}
}

