.blog-post-array-bg{top: 0; left: 0; position: absolute; width: 100%; height: calc(100% - 337px); z-index: -1;}
.blog-post-banner{ padding: 60px 0 40px; color: var(--White);}
.blog-post-decor{z-index: -1; opacity: 0.1;}
.blog-post-decor svg{width: 100%; height: 100%;}
.blog-post-lt h1{color: var(--White);}
.blog-post-lt span{font-weight: 900;}
.blog-post-lt hr{margin-bottom: 23px;}
.blog-post-rt{background-color: var(--Navy); flex: 1;}
.blog-post-rt-text{padding: 59px 45px 40px 40px;}
.blog-post-rt-image img{border-radius: 0 24px 24px 0;}
.blog-post-rt-text h2{font-size: 28px; color: var(--White); line-height: 35px;}
.blog-post-head{gap: 8px; margin-bottom: 21px;}
.blog-post-icon{color: var(--Light-Blue); font-size: 20px;}
.blog-post-head span{font-weight: 300;}

body .insights-signup .frm_forms .frm_form_fields .frm_form_field input { padding: 15px 120px 16px 24px; font-size: 16px; line-height: 24px; font-weight: 400; background-color: var(--Dark-Blue-50); color: var(--White); border-radius: 28px; border: none; }
body .insights-signup .frm_forms .frm_form_fields .frm_form_field input:focus{color: var(--White); background-color: var(--Navy);}
body .insights-signup .frm_forms .frm_form_fields .frm_form_field.field_submit { min-width: 106px; right: 2px; top: -1px; height: 56px; margin: 0; display: block; position: absolute; align-items: center; display: flex; }
body .insights-signup .frm_forms .frm_form_fields .frm_submit { display: block; }
body .insights-signup .frm_forms .frm_form_fields .frm_form_field label { display: none; }
body .insights-signup .frm_forms .frm_form_fields .frm_form_field.field_submit .frm_submit{width: 100%;}
body .insights-signup .frm_forms .frm_form_fields .frm_submit button.frm_button_submit { width: 100%; height: 100%; margin: 0; padding: 10px 14px 10px; font-size: 16px; line-height: 20px; border-radius: 28px; border: 4px solid var(--Orange); background: 0 0; }
body .insights-signup .frm_forms .frm_form_fields .frm_submit button.frm_button_submit:hover{background-color: var(--Orange);}
body .insights-field-wrap .frm_form_field{margin-bottom: 0!important; margin-top: 16px;}
body .insights-signup .frm_forms .frm_form_fields .frm_form_field input:-moz-placeholder{font-size: 16px; color: var(--White); font-family: "Blackbird", sans-serif; }
body .insights-signup .frm_forms .frm_form_fields .frm_form_field input::-webkit-input-placeholder {font-size: 16px; color: var(--White); font-family: "Blackbird", sans-serif;}
body .insights-signup .frm_forms .frm_form_fields .frm_form_field input::-moz-placeholder{font-size: 16px; color: var(--White); font-family: "Blackbird", sans-serif; opacity: 1;}


/*-- media css starts here --*/
@media only screen and (min-width: 744px){
    .blog-post-row.slick-slider .blog-post-list{width: 296px; margin-right: 32px;}
}
@media only screen and (min-width: 1024px){
    .blog-post-wrap{padding: 84px 0 40px;}
    .blog-post-decor{top: 0; left: -320px; max-width: 1578px; max-height: 960px;}
    .blog-post-main{padding: 0 0 40px;}
    .blog-post-row{gap: 32px;}
    .blog-post-list{flex: 0 0 calc(25% - 24px);}

    .blog-post-rt-text{flex: 0 0 50%;}
    .blog-post-rt-image{flex: 0 0 50%;}
    
    .resources-blog-main{padding: 54px 0 79px;}
    .resources-blog-row{gap: 32px; padding: 81px 0 63px;}
    .resources-blog-list{flex: 0 0 calc(25% - 24px);}
}
@media only screen and  (min-width: 1200px){
    .blog-post-banner{gap: 80px;}
    .blog-post-lt{flex: 0 0 412px;}
    .blog-post-rt{flex: 1;}
    .blog-lt-text{padding-left: 16px;}
    .no_blog_post_right{display: block;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .blog-post-banner{gap: 64px;}
    .blog-post-lt{flex: 0 0 300px;}
    .blog-post-rt-text {padding: 20px;}
}
@media only screen and (max-width: 1023px) and (min-width: 744px){
    .blog-post-wrap{border-top: 1px solid rgba(25, 35, 76, 0.25);}
    .blog-post-decor{top: 0; left: -320px; max-width: 789px; max-height: 480px;}

    .blog-post-main{padding: 40px 0 40px;}
    .blog-post-row{gap: 32px; margin-bottom: 64px;}
    .blog-post-lt{margin-bottom: 40px;}
    .blog-post-list{flex: 0 0 calc(50% - 16px); margin-bottom: 0;}
    .blog-post-rt{display: none;}

    .resources-blog-main{padding: 24px 0 64px;}
    .resources-blog-row{gap: 32px; margin-bottom: 64px;}
    .resources-blog-list{flex: 0 0 calc(50% - 16px);}
}
@media only screen and (max-width: 743px) and (min-width: 200px){
    
    .blog-post-wrap{border-top: 1px solid rgba(25, 35, 76, 0.25);}
    .blog-post-decor{left: -80px;}
    .blog-post-main{padding: 40px 0 40px;}
    .blog-post-banner{padding: 40px 0 24px;}
    .blog-post-lt hr{margin: 0 0 24px;}
    .blog-post-rt{display: none;}
    .blog-post-lt h1{font-size: 48px; line-height: 55px;}

    .resources-blog-main{padding: 24px 0 40px;}
    .resources-blog-main::before{margin-bottom: 44px; opacity: 0.5; width: 100%; height: 1px; background: var(--Gray);content: ""; display: block; background-color: var(--Navy);}
    
    .blog-post-row .slick-track{display: flex; flex-wrap: nowrap;}
    .blog-post-row.slick-slider{width: calc(100% + 24px);}
    .slick-slider .blog-post-list{width: 296px; margin-right: 38px; height: auto;}
    .blog-post-row div.slick-arrow{background: var(--Navy); bottom: -18px;}
    .blog-post-row div.slick-arrow.slick-disabled{opacity: 0.25; background: var(--Navy);}
    .blog-post-row div.slick-arrow.slick-next{right: 24px;}

    .resources-blog-row{display: block;}
    .resources-blog-list{margin-bottom: 32px;}

}