.insights-banner-section{background: linear-gradient(0deg,rgba(25,35,76,0) 0,rgba(25,35,76,.5) 100%),var(--Blue)}
.insights-banner-row{gap: 88px; padding: 60px 0 40px; color: var(--White);}
.insights-banner-lt{flex: 0 0 404px; padding-left: 16px;}
.insights-banner-rt{flex: 0 0 calc(100% - 484px);}
.insights-banner-lt h1{color: var(--White);}
.insights-banner-lt span{font-weight: 900;}
.insights-banner-rt{background-color: var(--Navy); flex: 1;}
.insights-banner-rt-text{flex: 0 0 50%; padding: 40px 45px  40px 40px;}
.insights-banner-rt-image{flex: 0 0 50%;}
.insights-banner-rt-image img{border-radius: 0 24px 24px 0;}
.insights-banner-rt-text h2{font-size: 28px; color: var(--White); line-height: 35px;}
.insights-banner-rt-text h2 a{color: var(--White);}
.insights-banner-list{gap: 8px; margin-bottom: 24px;}
.insights-banner-icon{color: var(--Light-Blue); font-size: 20px;}
.insights-banner-list span{font-weight: 400;}

  body .insights-signup .frm_forms .frm_form_fields .frm_form_field input { padding: 15px 120px 12px 24px; font-size: 18px; line-height: 27px; font-weight: 400; background-color: var(--Dark-Blue-50,rgb(25 35 76 / 50%)); color: var(--White); border-radius: 28px; border: none; }
  body .insights-signup .frm_forms .frm_form_fields .frm_form_field.field_submit { min-width: 106px; right: 3px; top: 0; height: 56px; margin: 0; display: block; position: absolute; align-items: center; display: flex; }
  body .insights-signup .frm_forms .frm_form_fields .frm_submit { display: block; }
  body .insights-signup .frm_forms .frm_form_fields .frm_form_field label { display: none; }
  body .insights-signup .frm_forms .frm_form_fields .frm_submit button.frm_button_submit { width: 100%; height: 100%; margin: 0; padding: 10px 14px 10px; font-size: 20px; line-height: 20px; border-radius: 28px; border: 4px solid var(--Orange); background: 0 0; }
  body .insights-field-wrap .frm_form_field{margin-bottom: 0!important; margin-top: 16px;}
  body .insights-signup .frm_forms .frm_form_fields .frm_form_field input:-moz-placeholder{color: var(--White); font-family: "Blackbird", sans-serif; }
  body .insights-signup .frm_forms .frm_form_fields .frm_form_field input::-webkit-input-placeholder{color: var(--White); font-family: "Blackbird", sans-serif;}
  body .insights-signup .frm_forms .frm_form_fields .frm_form_field input::-moz-placeholder{color: var(--White); font-family: "Blackbird", sans-serif;}

  



.insights-post-array-list{overflow: hidden; background-color: var(--Navy);}
.insights-post-array-bg{top: 0; left: -100vw; width: 1000vw; height: calc(100% - 306px); z-index: -1;}
.insights-post-array-text{opacity: 0;}
.insights-post-array-padd{padding: 32px 28px 32px 30px;}
.insights-post-array-cat{gap: 8px; margin-bottom: 25px;}
.insights-post-array-icon{font-size: 20px; line-height: 20px; }
.insights-post-array-icon i{top: -2px; position: relative;}
.insights-post-array-hover{opacity: 1; left: 0; width: 100%; height: 100%; transition: var(--insights-post-transition); background-color: var(--Navy); color: var(--White); position: absolute; z-index: 2; border-radius: 0 0 24px 24px; overflow-y: auto;}
.insights-post-array-hover h2 a:hover{color: var(--White);}
.insights-post-array-list:hover{position: relative;}
.insights-post-array-list:hover .insights-post-array-hover{opacity: 1; top: 0; background-color: var(--Light-Blue); color: var(--Navy);}
.insights-post-array-image{min-height: 296px;}
.insights-post-array-image img{transition: var(--insights-post-transition); height: 296px; max-height: 296px; overflow: hidden; border-radius: 24px 24px 0 0;}
.insights-post-array-list:hover .insights-post-array-image img{height: 0; }
.insights-post-array-hover{top: 296px;}
.insights-post-array-blog h2 a{color: var(--White);}
.insights-post-array-list:hover .insights-post-array-blog h2 a{color: var(--Navy);}
.insights-post-array-desc{visibility: hidden;}
.insights-post-array-list:hover .insights-post-array-desc{visibility: visible;}

/*-- media css starts here --*/
@media only screen and (min-width: 744px){
    .insights-post-array-row .slick-track{display: flex; flex-wrap: nowrap;}
    .insights-post-array-row .slick-list{overflow: inherit;}
    .insights-post-array-list.slick-slide{width: 296px; margin-right: 32px; flex: 0 0 296px; height: auto;}
}
@media only screen and (min-width: 1024px){
    .insights-post-array-main{padding: 0 0 40px;}
    .insights-post-array-row{gap: 32px;}
    .insights-post-array-list{flex: 0 0 calc(25% - 24px);}
    .insights-post-array-head{gap: 32px; padding-bottom: 39px;}
    .insights-post-array-title{flex: 1;}
    .insights-post-array-head h2{margin-bottom: 0;}
    .insights-post-array-btn{width: fit-content; gap: 16px;}
    .insights-post-array-btn div.slick-arrow{position: relative; left: auto; right: auto; transform: none; order: 2;}
}
@media only screen and (max-width: 1023px) and (min-width: 744px){
    .insights-post-array-main{padding: 40px 0 40px;}
    .insights-post-array-head{display: block; padding-bottom: 40px; padding-right: 140px; position: relative;}
    .insights-post-array-head div.slick-arrow.slick-prev{left: auto; right: 70px;}
    .insights-post-array-head div.slick-arrow{top: 10px; bottom: auto;}
    .insights-post-array-title h2{margin: 0;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .insights-post-array-main{padding: 40px 0 40px;}
    .insights-post-array-head{display: block; padding-bottom: 4px;}

    .insights-post-array-row .slick-track{display: flex; flex-wrap: nowrap;}
    .insights-post-array-row.slick-slider{width: calc(100% + 24px);}
    .insights-post-array-list.slick-slide{width: 296px; margin-right: 38px; height: auto;}
    .insights-post-array-row div.slick-arrow{background: var(--Navy); bottom: -18px;}
    .insights-post-array-row div.slick-arrow.slick-disabled{opacity: 0.25; background: var(--Navy);}
    .insights-post-array-row div.slick-arrow.slick-next{right: 24px;}
}













