.insights-banner-section{background: linear-gradient(0deg,rgba(25,35,76,0) 0,rgba(25,35,76,.5) 100%),var(--Blue)}
.insights-banner-row{gap: 80px; padding: 60px 0 40px; color: var(--White);}
.insights-banner-lt{flex: 0 0 404px;}
.insights-banner-rt{flex: 0 0 calc(100% - 484px);}
.insights-banner-lt h1{color: var(--White);}
.insights-banner-lt span{font-weight: 900;}
.insights-banner-rt{background-color: var(--Navy);}
.insights-banner-rt-text{flex: 0 0 50%; padding: 40px 45px  40px 40px;}
.insights-banner-rt-image{flex: 0 0 50%;}
.insights-banner-rt-image img{border-radius: 0 24px 24px 0;}
.insights-banner-rt-text h2{font-size: 28px; color: var(--White); line-height: 35px;}
.insights-banner-list{gap: 8px; margin-bottom: 24px;}
.insights-banner-icon{color: var(--Light-Blue); font-size: 20px;}

