.insights-post-main { gap: 80px; padding: 80px 0 40px; }
.insights-row{gap: 14px; flex: 1; }
.insights-list{flex: 0 0 32.5%; }
.insights-icon{color: var(--Light-Blue); font-size: 20px;}
.insights-txt{color: var(--Blue);}
.insights-list{gap: 8px;}
.insights-block-con{margin-bottom: 45px; color: var(--Navy);}

body.page-template-insights-post .share-icons #st-1.st-animated{flex: inherit;}
body.page-template-insights-post .share-icons{margin-bottom: 42px; padding: 0 40px 0 5px; gap: 20px}
body.page-template-insights-post .default-block-con span { margin-bottom: 0; }

.insights-post-block{padding: 35px 0 55px;}
.insights-post-image{padding: 10px 0 58px;}
.insights-post-wrap{padding: 48px;}
.insights-post-bracket { width: 48px; height: 100%; top: 0; border: 1px solid var(--Light-Blue); z-index: -1; }
.insights-post-bracket.left{ left: 0; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.insights-post-bracket.right {right: 0; border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.insights-block-icon{color: var(--Orange); font-size: 40px; width: 40px; margin-bottom: 32px;}
.insights-block-main > span{color: var(--Blue); font-size: 22px; display: block; margin-bottom: 32px; line-height: 33px;}
.insights-block-list{gap: 18px;}
.insights-block-info span{margin-bottom: 0; display: block; font-size: 16px; color: var(--Navy); font-weight: 700;}
.insights-block-info p{color: var(--Gray); opacity: 0.5;}
.insights-block-img{width: 64px; height: 64px;}
