


body.single-post.postid-74 .header::after{display: none;}
body.single-post .header::after { content: ""; display: block; background-image: url('images/insights-decor.svg'); position: absolute; top: 0; left: 0; width: 1578px; height: 960px; z-index: -1; opacity: 0.1; background-size: cover; background-repeat: no-repeat; transition: all 1s ease-in;}
body.single-post header.sticky-header .header::after{opacity: 0; visibility: hidden;}
body.single-post .insights-post-main{z-index: 810;}
.insights-post-main { gap: 80px; padding: 80px 0 88px; }
.insights-row{gap: 14px; flex: 0 0 60%;}
.insights-rt{gap: 20px; flex: 0 0 calc(100% - 63%);}
.insights-list{flex: 0 0 33%;  }
.insights-icon{color: var(--Light-Blue); font-size: 20px;}
.insights-txt{color: var(--Blue); flex: 1;

}
.insights-list{gap: 8px; align-items: flex-start;}
.insights-block-con{margin-bottom: 45px; color: var(--Navy);}
.insights-post-main .sidebar-block{padding: 24px;}

.insights-post-main .share-icons #st-1.st-animated{flex: inherit;}
.insights-post-main .share-icons{margin-bottom: 42px; padding: 0 21px 0 5px; gap: 20px}
.insights-post-main .default-block-con span { margin-bottom: 0; }

.insights-post-block{padding: 35px 0 55px;}
.insights-post-image{padding: 10px 0 58px;}
.insights-post-wrap{padding: 48px;}
.insights-block-icon{color: var(--Orange); font-size: 40px; width: 40px; margin-bottom: 32px;}
.insights-block-main > span{color: var(--Blue); font-size: 22px; display: block; margin-bottom: 32px; line-height: 33px;}
.insights-block-list{gap: 18px;}
.insights-block-info span{margin-bottom: 0; display: block; font-size: 16px; color: var(--Navy); font-weight: 700;}
.insights-block-info p{color: var(--Gray); opacity: 0.5;}
.insights-block-img{width: 64px; height: 64px;}

.insights-post-main:after{content: ""; display: block; background-color: var(--body-text); width: 100%; height: 1px; opacity: .5; }

.blog-post-row ul.slick-dots li{background-color: var(--Navy-25);}
.blog-post-row ul.slick-dots li.slick-active{background-color: var(--Light-Blue);}

/*-- media css starts here --*/
@media only screen and (min-width: 744px){
  .blog-post-row .slick-track{display: flex; flex-wrap: nowrap;}
  .blog-post-row .slick-list{overflow: inherit;}
  .blog-post-row .slick-slide{width: 296px; margin-right: 32px; flex: 0 0 296px; height: auto;}
}
@media only screen and (min-width: 1024px){
  body.single-post .header::after{top: -84px; left: -313px;}
  .insights-post-bracket { width: 48px; height: 100%; top: 0; border: 1px solid var(--Light-Blue); z-index: -1; }
  .insights-post-bracket.left{ left: 0; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
  .insights-post-bracket.right {right: 0; border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
  .blog-post-row ul.slick-dots{height: 0; opacity: 0; margin: 0;}
}
@media screen and (max-width: 1350px) and (min-width: 1024px) {
  .insights-post-main .share-icons{display: block;}
  .insights-post-main .insights-row{margin-bottom: 40px;}
}
@media screen and (max-width: 1023px) and (min-width: 744px) {
  body.single-post .header::after{top: 84px; left: -100px; width: 789px; height: 480px;}
  .insights-post-main{padding: 40px 0; gap: 40px;}
  .insights-post-main .share-icons{display: block;}
  .insights-post-main .insights-row{margin-bottom: 40px;}
  .blog-post-row  div.slick-arrow{bottom: -14px;}
  .insights-post-bracket{width: 100%; height: 48px; bottom: 0; left: 0; top: auto; border: 1px solid var(--Light-Blue); z-index: -1; border-top: 0; border-top-right-radius: 0; border-top-left-radius: 0;}
  .insights-post-bracket.left { top: 0; transform: rotate(-180deg); }
}
@media screen and (max-width: 743px) and (min-width: 200px) {
  body.single-post .header::after{top: 84px; left: -100px; width: 519px; height: 316px; background-image: url("images/insights-decor-mobile.svg");}
  .insights-post-main{padding: 40px 0 8px; display: block;}
  .insights-block-con .h1{font-size: 2rem; line-height: 2.5rem;}
  .insights-post-main .share-icons{padding: 0;}
  .insights-post-main .insights-row{flex: 0 0 100%; padding-left: 5px; gap: 20px; margin-bottom: 24px;}
  .insights-post-main .insights-list{flex: 0 0 calc(50% - 10px);}
  .insights-post-main .insights-rt{flex: inherit;}

  .insights-post-main .share-icons #st-1.st-animated { gap: 18px;}
  .insights-post-main  .default-article h1 {font-size: 2.5rem; line-height: 3.125rem;}
  .insights-post-main  .default-article h2{font-size: 2rem!important; line-height: 2.5rem!important;}
  .insights-post-main  .default-article h3{font-size: 1.75rem; line-height: 2.18rem;}
  .insights-post-main  .default-line-in{line-height: 1.875rem;}

  .insights-post-main .default-aside{padding-top: 40px;}
  .insights-post-main .sidebar-list{display: block;}
  .insights-post-main .sidebar-img{margin-bottom: 16px;}
  .insights-post-wrap { padding: 24px; }
  .insights-post-bracket{width: 100%; height: 48px; bottom: 0; left: 0; top: auto; border: 1px solid var(--Light-Blue); z-index: -1; border-top: 0; border-top-right-radius: 0; border-top-left-radius: 0;}
  .insights-post-bracket.left { top: 0; transform: rotate(-180deg); }
  .insights-block-main > span {font-size: 20px;}
  .insights-post-main::after{margin-top: 48px;}
}
@media screen and (max-width: 389px) and (min-width: 200px) {
  .insights-post-main .insights-row{flex-direction: column; padding: 0;}
  .insights-post-main .share-icons #st-1.st-animated { gap: 13px; }
}




