.subhead-help-main{padding: 40px 0;}
.subhead-help-row { gap: 80px; }
.subhead-help-lt { flex: 0 0 27.4%; }
.subhead-help-lt h2{font-size: 48px; margin-bottom: 32px;}
.subhead-help-lt p{margin-bottom: 32px;}
.subhead-help-rt { flex: 1; }
.subhead-help-grid { flex: 0 0 50%; padding: 32px; border: 1px solid var(--Light-Blue-Tint); color: var(--Gray);}
.subhead-help-grid h3{font-size: 24px;}
.subhead-help-grid{border-bottom: none; border-left: 0;}
.subhead-help-grid:nth-child(2n){border-right: none;}
.subhead-help-grid:first-child{border-top: none;}
.subhead-help-grid:nth-child(2){border-top:none}
.subhead-help-icon{width: 60px; height: 48px; font-size: 48px; color: var(--Light-Blue); margin-bottom: 32px;}
 