.subhead-help-main{padding: 80px 0 80px;}
.subhead-help-row { gap: 78px; }

.subhead-help-lt h2{font-size: 2.813rem; margin-bottom: 32px;}
.subhead-help-lt p{margin-bottom: 32px;}

.subhead-help-grid { flex: 0 0 50%; padding: 32px; border: 1px solid var(--Light-Blue-Tint); color: var(--Gray);}
.subhead-help-grid h3{font-size: 1.5rem; margin-bottom: 11px; line-height: 1.875rem;}
.subhead-help-grid{border-bottom: none; border-left: 0;}

.subhead-help-grid:first-child{border-top: none;}

.subhead-help-icon{width: 60px; font-size: 2.813rem; color: var(--Light-Blue); margin-bottom: 32px;}

.service-detail-sub-default-main{padding: 80px 0;}
.service-detail-sub-default-main ol{margin-bottom: 0;}
.service-detail-sub-default-main ol > li:last-child{margin-bottom: 0;}
.service-detail-sub-default-main p span{font-size: 1.375rem; line-height: 33px;}
.sub-detail-line-wrap{padding: 30px 0 0;}
.sub-detail-line-wrap .default-line-text { padding: 6px 0 6px 24px;}
.sub-detail-line-wrap .default-line-in {padding: 0 50px 0 0;}

.service-detail-sub-default::after{content: ""; display: block; background-color: var(--body-text);  height: 1px; opacity: 0.5; max-width: 1280px; margin: 0 auto; width: calc(100% - 80px);}
.subhead-help-row.no_help_rt{display: block;}


/*-- media css starts here --*/
@media only screen and (min-width: 1200px){
    .subhead-help-lt { flex: 0 0 27.4%; }
    .subhead-help-rt { flex: 1; }
    .subhead-help-grid:nth-child(2n){border-right: none;}
    .subhead-help-grid:nth-child(2){border-top:none}
    body.page-template-services-detail .sub-detail-line-wrap{padding: 54px 0 0;}
}

@media screen and (max-width: 1199px) and (min-width: 1024px){
    .subhead-help-row { gap: 62px; }
    .subhead-help-lt { flex: 0 0 37.2%; }
    .subhead-help-rt { display: block; flex: 1; }
    
    .subhead-help-grid{border-right: none;}
    body.page-template-services-detail .sub-detail-line-wrap{padding: 54px 0 0;}
}

@media screen and (max-width: 1023px) and (min-width: 744px){
    .subhead-help-main { padding: 80px 0 80px; }
        .subhead-help-grid:nth-child(2n){border-right: none;}
        .subhead-help-grid:nth-child(2){border-top:none}


    }
    @media screen and (max-width: 743px) and (min-width: 200px){
        .subhead-help-row{gap: 40px}
        .subhead-help-rt{display: block;}
        .subhead-help-grid{padding: 24px 0; border-right: none;}
        .subhead-help-grid:last-child{padding-bottom: 0;}
        .subhead-help-main { padding: 60px 0 60px; }
        .service-detail-sub-default-main { padding: 40px 0 48px; }
        .sub-detail-line-wrap .default-line-in { padding: 0 }
        .sub-detail-line-wrap .default-line-text { padding: 6px 0 18px 24px; line-height: 1.875rem;}
        .service-detail-sub-default::after {width: calc(100% - 40px);}

        .subhead-help-lt h2{font-size: 2.5rem; line-height: 46px;}
        .short-intro-section.intro-second-section .short-intro-head{padding: 0 0 95px;}
        body.page-template-services-detail-sub-page .short-intro-list h3{max-width: 100%;}
    }
