
.contact-text span.optional-text{margin-bottom: 32px;}
.contact-text h1{margin-bottom: 32px; font-size: 40px; line-height: 125%; font-weight: 600;}
.contact-text hr{margin-bottom: 31px;}
ul.contact-links{margin: 0; padding-top: 11px; gap: 8px; flex-direction: column;}
ul.contact-links > li{margin: 0;}
ul.contact-links > li:before{display: none;}
ul.contact-links > li > a{font-size: 16px; line-height: 24px; font-weight: 700; color: var(--Blue); gap: 8px; display: flex; align-items: center; position: relative;}
ul.contact-links > li > a > span{top: 2px; position: relative; font-size: 20px; line-height: 100%; color: var(--Light-Blue);}
ul.contact-links > li > a:hover{color: var(--Orange);}

.contact-form{padding: 50px 48px 48px; border: 1px solid rgba(65, 180, 255, 0.25); background: var(--White);}
.no_contact_form.flex{display: block;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .contact-main{gap: 80px; padding: 78px 0 78px;}
    .contact-text{flex: 0 0 352px;}
    .contact-form{flex: 1;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .contact-main{gap: 64px;}
}
@media only screen and (max-width: 1023px) and (min-width: 744px){
    .contact-main{padding: 78px 0 40px; display: block;}
    .contact-form{margin-top: 80px;}
}
@media only screen and (max-width: 743px) and (min-width: 200px){
    .contact-main{padding: 40px 0 40px; display: block;}
    .contact-text h1{font-size: 32px; line-height: 40px;}
    ul.contact-links{gap: 19px;}
    .contact-form{margin-top: 64px; padding: 23px 23px 23px;}
}