
.contact-text span.optional-text{margin-bottom: 32px;}
.contact-text h1{margin-bottom: 32px; font-size: 40px; line-height: 125%; font-weight: 600;}
.contact-text hr{margin-bottom: 31px;}
.contact-form{padding: 48px;
    border: 1px solid rgba(65, 180, 255, 0.25);
    background: var(--Background, #FFF);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .contact-main{gap: 80px; padding: 78px 0 78px;}
    .contact-text{flex: 0 0 352px;}
    .contact-form{flex: 1;}
}