.default-main{gap: 80px;}
.default-article{flex: 1;}
.default-aside{flex: 0 0 300px;}





.sticky-sidebar-inner h3{font-size: 24px; margin-bottom: 5px;}
ul.aside-links{margin:  0 0 20px;}
ul.aside-links > li::before{display: none;}
ul.aside-links > li > a{gap: 10px; border-bottom: 1px solid var(--Light-Blue); padding: 8px 0 16px; font-weight: 600; }
ul.aside-links > li:last-child > a{border-bottom: none;}
ul.aside-links > li > a i{left: 0; top: 2px; color: var(--Light-Blue); font-size: 20px; line-height: 25px; position: relative;} 
ul.aside-links > li > a:hover i{left: 8px;}

.sidebar-link{gap: 8px;}
.sidebar-link a{width: fit-content;}

.sidebar-block{background-color: var(--Blue); color: var(--White); border-radius: 24px;padding: 32px;}
.sidebar-block h5{color: var(--White);}
.sidebar-icon{font-size: 40px; width: 40px; margin-bottom: 20px; color: var(--Light-Blue);}
.sidebar-block .button{width: 100%;}