.accordion-list.white { background-color: var(--White); } 
.accordion-list { margin-bottom: 20px; border-left: 8px solid var(--Orange); transition: var(--b-transition); } 
.accordion-list:last-child { margin-bottom: 0; } 
.accordion-list:hover { transform: translateY(-5px); border-color: var(--Orange); } 
.accordion-header { padding: 25px 24px 23px 75px; color: var(--Blue); font-size: 20px; line-height: 25px; cursor: pointer; position: relative; font-weight: 600; } 
.accordion-header.open { color: var(--Blue); } 
.accordion-header.open span.ui-plus { transform: rotate(45deg); } 
span.ui-plus { width: 24px; height: 24px; left: 27px; } 
span.ui-plus::after, span.ui-plus::before { top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: var(--Blue); content: ""; display: block; position: absolute; z-index: -1; } 
span.ui-plus::before { width: 24px; height: 2px; } 
span.ui-plus::after { width: 2px; height: 24px; } 
.accordion-content { max-height: 0; transition: max-height 0.9s; overflow: hidden; } 
.accordion-desc { padding: 1px 24px 24px 75px; font-size: 16px; line-height: 24px; }
.accordion-desc ul>li::before { top: 8px; left: -20px; width: 6px; height: 6px; } 
.accordion-desc ol { margin: 0 0 28px 29px; }
.accordion-desc ol>li::before { top: 0; left: -20px; font-size: 1.125rem; line-height: 1.688rem; } 
.accordion-wrap { padding: 90px 0 20px; } 
.accordion-head { justify-content: space-between; gap: 20px; } 
.accordion-head-lt h3 { margin-bottom: 0; font-size: 40px; }

.accordion-main{padding: 33px 0 60px;}
/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .accordion-main{padding: 40px 0 60px;}
    body.page-template-services-detail .accordion-main{padding-bottom: 0;}
    /* body.page-template-services-detail-sub-page .accordion-main{padding-bottom: 0;} */
}
@media screen and (max-width: 1023px) and (min-width: 744px){
    .accordion-main{padding: 40px 0 60px;}
    body.page-template-services-detail-sub-page .accordion-main{padding-bottom: 0;}
    body.page-template-services-detail .accordion-main{padding-bottom: 0;}
}
@media screen and (max-width: 743px) and (min-width: 200px){
    .accordion-main{padding: 40px 0 57px;}
    .accordion-header{padding: 27px 24px 22px 23px;}
    .accordion-header span.ui-plus {left: 0; margin-bottom: 20px; display: block; position: relative;}
    .accordion-desc{padding: 1px 24px 24px 23px;}
    .accordion-wrap { padding: 50px 0 20px; }
    .accordion-head-lt h3 {font-size: 32px;}

    body.page-template-services-detail-sub-page-sub .accordion-main { padding: 28px 0 22px; }
    body.page-template-services-detail-sub-page-sub .accordion-wrap { padding: 50px 0 48px; }
    body.page-template-services-detail-sub-page .accordion-main{padding: 24px 0;}
    body.page-template-services-detail .accordion-main{padding-bottom: 21px;}
}
