
.need-more-answer{font-size: 16px; font-weight: 400; line-height: 24px; border-radius: 24px; background: linear-gradient(180deg, rgba(25, 35, 76, 0.00) 0%, rgba(25, 35, 76, 0.75) 100%), var(--Blue); color: var(--White); padding: 32px;}
.need-more-answer span.optional-text{color: var(--Light-Blue); margin-bottom: 20px;}
.need-more-answer h4{color: var(--White);}
.need-more-answer .button{width: 100%;}

@media screen and (min-width: 1024px) {
    body.page-template-service-detail .accordion-wrap{gap: 80px; padding: 88px 0; border:1px solid rgba(112,115,114,.5); border-right: none; border-left: none;}
    body.page-template-service-detail .accordion-main{padding-bottom: 0;}
    .accordion-lt{flex: 0 0 900px;}
    .accordion-rt{flex: 0 0 calc(100% - 980px); padding-top: 80px;}
}