
.open-position-text h2{margin-bottom: 24px;}
.open-position-text hr{margin-bottom: 24px;}
.open-position-list{padding: 11px 12px 11px 16px; background-color: var(--Light-Blue-Tint);}
.open-position-title h2{margin-bottom: 0;}
.open-position-posted{color: var(--body-text);}
.open-position-rt{flex-direction: column;}
.open-position-main.no_position_rt{display: block;}
.open-bracket{width: 48px; height: 100%; top: 0; border: 1px solid var(--Light-Blue);}
.open-bracket.left{left: 0; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.open-bracket.right{right: 0; border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.open-position-btns{padding-top: 2px;}
.open-position-btn a i{display: none;}
.open-position-text h2 {font-size: 32px; line-height: 40px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .open-position-wrap{padding: 40px 0 79px;}
    .open-position-main{gap: 80px;}
    .open-position-text{flex: 0 0 350px;}
    .open-position-rt{flex: 1; gap: 16px; padding: 24px;}
    .open-position-list{gap: 24px;}
    .open-position-left{flex: 1; gap: 16px;} 
    .open-position-title{flex: 1;}
    .open-position-posted{width: fit-content;}
    .open-position-btn{flex: 0 0 80px;}
    body.page-template-career .open-position-wrap {padding: 80px 0 79px;}
    body.page-template-career .open-position-section.no-primary-cta .open-position-wrap {
        padding: 90px 0 79px;
      }
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .open-position-main{gap: 40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 744px){
    .open-position-wrap{padding: 40px 0 79px;}
    .open-position-text{margin-bottom: 40px;}
    .open-position-list{gap: 16px;}
    .open-position-rt{gap: 16px; padding: 32px;}
    .open-position-left{flex: 1; gap: 16px;}
    .open-position-title{flex: 1}
}
@media only screen and (max-width: 743px) and (min-width: 200px){
    .open-position-wrap{padding: 40px 0;}
    .open-position-text{margin-bottom: 40px;}
    .open-position-rt{padding: 24px; gap: 16px;}
    .open-position-list{gap: 8px;}
    .open-position-left{flex: 1; gap: 5px;}
    .open-position-title h2{font-size: 18px; line-height: 22px;}
    .open-position-btn{width: 27px;  display: flex;}
    .open-position-btn span{display: none;}
    .open-position-btn a{width: 100%; min-height: 71px; padding: 5px; border-radius: 4px; background: var(--Light-Blue-15); color: var(--Blue); font-size: 24px; line-height: 24px; display: flex; align-items: center; }
    .open-position-btn a i{display: block;}

}













