

.open-position-text h2{margin-bottom: 24px;}
.open-position-text hr{margin-bottom: 24px;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .open-position-text{flex: 0 0 350px;}
}













