.people-careers-desc{font-size: 1rem; line-height: 28px;}
.people-careers-txt{position: relative; z-index: 2;}
.people-careers-txt h2{font-weight: 400; margin-bottom: 32px;}
.people-careers-txt h2 strong{font-weight: 600;}
.people-careers-icon{margin-right: 10px; color: var(--Light-Blue); font-size: 1.25rem; line-height: 1.25rem;}
.people-careers-cont span{font-size: 0.938rem; color: var(--Blue);}
.people-careers-cont{margin-bottom: 27px;}
.people-careers-btns{gap: 16px; margin-top: 32px;}
.people-careers-txt p{color: var(--Gray);}
div.no_careers_images{display: block;}
.no_careers_images .people-careers-inner{margin: 0 auto; left: auto;}
div.no_careers_text{display: block; padding: 80px 0;}
div.no_careers_text .people-careers-desc{max-width: 100%;}
.people-careers-main::before{width: 100%; height: 1px; position: relative; background-color: rgba(112,115,114,.5); display: block; content: "";}
div.no_people_careers_image{margin: 0; padding: 80px 0;}
.no_people_careers_image .people-careers-row{display: block;}
div.no_people_careers_image .people-careers-desc{max-width: 100%;}

/* media css starts here */
@media screen and (min-width: 1024px){
    .people-careers-row{ gap: 40px; flex-wrap: nowrap; padding-top: 80px;}
    .people-careers-main{padding: 0 0 90px;}
}
@media screen and (min-width: 1440px){
    .people-careers-main::before{top: 0;}
    .people-careers-txt{flex: 0 0 50%;}
    .people-careers-images{flex: 0 0 50%;}
    .people-careers-txt h2{font-size: 2.813rem; line-height: 60px;}
    .people-careers-desc{max-width: 560px;}
    .people-careers-main.no_people_careers_image::before{top: 0; position: absolute;}
}
@media screen and (max-width:1439px) and (min-width:1024px){
    .people-careers-txt{flex: 0 0 40%;}
    .people-careers-images{flex: 1;}
}
@media screen and (max-width:1023px) and (min-width: 744px){
    .people-careers-images { margin-bottom: 40px; }
}
@media screen and (max-width:1023px) and (min-width: 200px) {
    .people-careers-main{padding: 40px 0 40px;}
    .people-careers-row{flex-direction: column-reverse; text-align: center; padding: 48px 0 40px;}
    .people-careers-cont{justify-content: center; margin-bottom: 11px;}
    .people-careers-btns{justify-content: center;}
    .people-careers-txt h2{font-size: 2rem; line-height: 37px; margin-bottom: 16px;}
}
@media screen and (max-width:743px) and (min-width: 200px) {
    .people-careers-main{padding: 0;}
    .people-careers-btns .button{width: 100%;}
    .people-careers-inner {width: calc(100% + 48px); left: -24px; margin-bottom: 20px;} 
}

