.people-fancy-main{padding: 40px 0;}
.people-fancy-row{gap: 80px;}
.people-fancy-txt{flex: 0 0 46.5%;}
.people-fancy-images{flex: 0 0 46.5%;}
.people-fancy-txt h2{font-size: 56px; line-height: 1.15; font-weight: 400; margin-bottom: 18px;}
.people-fancy-icon{margin-right: 10px; color: var(--Light-Blue); font-size: 20px; line-height: 20px;}
.people-fancy-cont span{font-size: 15px; color: var(--Blue);}
.people-fancy-cont{margin-bottom: 14px;}
.people-fancy-btns{gap: 16px;}