.post-array-card { height: 100%; overflow: hidden; background-color: var(--Navy); }
.post-array-bg { top: 296px; left: -100vw; width: 1000vw; height: 100%; z-index: -1; }
.post-array-text { opacity: 0; }

.post-array-padd { padding: 32px 28px 21px 30px; }
.post-array-cat-main{ gap: 8px; margin-bottom: 25px; display: flex; flex-wrap: wrap; }
.post-array-cat { gap: 8px; width: fit-content;}
.post-array-cat span.fs-15{flex: 1;}
.post-array-icon { font-size: 20px; line-height: 20px; max-width: 24px; }
.post-array-icon i { top: -2px; position: relative; color: var(--Light-Blue); }
.post-array-hover { opacity: 1; left: 0; width: 100%; height: 100%; transition: var(--post-transition); background-color: var(--Navy); color: var(--White); position: absolute; z-index: 2; border-radius: 0 0 24px 24px; overflow-y: auto; }
.post-array-hover h2 a:hover { color: var(--White); }

.post-array-card:hover { position: relative; }

.post-array-card:hover .post-array-hover {
    opacity: 1;
    top: 0;
    background-color: var(--Light-Blue);
    color: var(--Navy);
}

.post-array-image {
    min-height: 296px;
}

.post-array-image img {
    transition: var(--post-transition);
    height: 296px;
    max-height: 296px;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

.post-array-card:hover .post-array-image img {
    height: 0;
}

.post-array-hover {
    top: 296px;
}
.post-array-blog h2 {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
}
.post-array-blog h2 a {
    color: var(--White);
}

.post-array-card:hover .post-array-blog h2 a {
    color: var(--Navy);
}

.post-array-card:hover .post-array-icon i {
    color: var(--Navy);
}

.post-array-desc {
    visibility: hidden;
}

.post-array-card:hover .post-array-desc {
    visibility: visible;
}

.post-array-section.post-color{background-color: var(--Dim-Blue);} 
.post-array-section.post-color .post-array-main{padding-top: 80px;}

/*-- media css starts here --*/
@media only screen and (min-width: 744px) {
    .post-array-row .slick-track {
        display: flex;
        flex-wrap: nowrap;
    }

    .post-array-row .slick-list {
        overflow: inherit;
    }

    .post-array-list.slick-slide {
        width: 296px;
        margin-right: 32px;
        flex: 0 0 296px;
        height: auto;
    }

    .post-array-row ul.slick-dots {
        height: 0;
        opacity: 0;
        margin: 0;
    }
    .post-array-head div.slick-arrow{position: absolute;}
}

@media only screen and (min-width: 1024px) {
    body.page-template-our-culture .people-future-section.no-people .people-future-main{padding-bottom: 80px;}
    .post-array-main {
        padding: 0 0 40px;
    }

    .post-array-row {
        gap: 32px;
    }

    .post-array-list {
        flex: 0 0 calc(25% - 24px);
    }

    .post-array-head {
        gap: 32px;
        padding-bottom: 39px;
    }

    .post-array-title {
        flex: 1;
    }

    .post-array-head h2 {
        margin-bottom: 0;
    }

    .post-array-btn {
        width: fit-content;
        gap: 16px;
    }

    .post-array-btn div.slick-arrow {
        position: relative;
        left: auto;
        right: auto;
        transform: none;
        order: 2;
    }
}
@media only screen and (min-width: 1440px) {
    .post-array-btn {align-items: flex-end;}
}
@media only screen and (max-width: 1023px) and (min-width: 744px) {
    .post-array-main {
        padding: 40px 0 40px;
    }

    .post-array-head {
        display: block;
        padding-bottom: 40px;
        padding-right: 140px;
        position: relative;
    }

    .post-array-head div.slick-arrow.slick-prev {
        left: auto;
        right: 70px;
    }

    .post-array-head div.slick-arrow {
        top: 10px;
        bottom: auto;
        right: 0;
    }

    .post-array-title h2 {
        margin: 0;
    }
}

@media only screen and (max-width: 743px) and (min-width: 200px) {
    .post-array-main {
        padding: 40px 0 40px;
    }

    .post-array-head {
        display: block;
        padding-bottom: 4px;
    }

    .post-array-row .slick-track {
        display: flex;
        flex-wrap: nowrap;
    }

    .post-array-row.slick-slider {
        width: calc(100% + 24px);
    }

    .post-array-list.slick-slide {
        width: 296px;
        margin-right: 38px;
        height: auto;
    }

    .post-array-appends {
        margin: 24px 0;
        gap: 8px;
        align-items: center;
    }



    .post-array-appends div.slick-arrow.slick-disabled {
        opacity: 0.25;
        background: var(--Navy);
    }

    .post-array-appends div.slick-arrow.slick-next {
        order: 3;
    }

    .post-array-appends ul.slick-dots {
        order: 2;
        flex: 1;
    }
    .post-array-appends ul.slick-dots li{
        opacity: 0.25;
    }
    .post-array-appends ul.slick-dots li.slick-active{
        opacity: 1;
    }
    .post-array-appends div.slick-arrow{
        color: var(--Light-Blue);
    }
    .post-array-appends div.slick-arrow:hover{
        color: var(--White);
    }
    .post-array-blog h2{margin-bottom: 0;}
}
@media screen and (max-width: 389px) and (min-width: 200px){
    .post-array-list.slick-slide{width: 273px; margin-right: 24px;}
}