
.question-wrap{border:1px solid rgba(112,115,114,.5); border-right: none; border-left: none;}
.need-more-answer{font-size: 16px; font-weight: 400; line-height: 24px; border-radius: 24px; background: linear-gradient(180deg, rgba(25, 35, 76, 0.00) 0%, rgba(25, 35, 76, 0.75) 100%), var(--Blue); color: var(--White); padding: 32px;}
.need-more-answer span.optional-text{color: var(--Light-Blue); margin-bottom: 20px;}
.need-more-answer h4{color: var(--White);}
.need-more-answer .button{width: 100%;}

.question-head{justify-content: space-between; gap: 20px;}
.question-head-lt h3{margin-bottom: 0; font-size: 40px;}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .question-wrap{gap: 80px; padding: 88px 0;}
    .question-lt{flex: 0 0 900px;}
    .question-rt{flex: 0 0 calc(100% - 980px); padding-top: 80px;}
}
@media screen and (max-width: 1329px) and (min-width: 1200px){
    .question-lt{flex: 0 0 800px;}
    .question-rt{flex: 0 0 calc(100% - 880px);}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .question-wrap{gap: 64px;}
    .question-lt{flex: 0 0 580px;}
    .question-rt{flex: 0 0 calc(100% - 644px);}
}
@media screen and (max-width: 1023px) and (min-width:744px){
    .question-wrap{padding: 80px 0; gap: 64px;}
    .question-head-lt h3{font-size: 32px;}
}
@media screen and (max-width: 743px) and (min-width:200px){
    .question-wrap{padding: 48px 0; gap: 48px;}
    .question-head-lt h3{font-size: 32px;}
}