
.recent-insights-lt h5{margin-bottom: 0;}
.recent-insights-item{font-size: 16px; line-height: 20px; font-weight: 400; padding-left: 40px;}
.recent-insights-item::before{content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 1px; background-color: var(--Light-Blue);}

@media screen and (min-width: 1024px) {
    .recent-insights-main{padding: 48px 0; align-items: center;}
    .recent-insights-lt{flex: 0 0 92px; padding-right: 40px;}
    .recent-insights-rt{flex: 0 0 calc(100% - 132px);}
    .recent-insights-list{gap: 40px;}
    .insights-list-3{flex: 0 0 calc(33.33333% - 27px);}
    .insights-list-2{flex: 0 0 calc(50% - 21px);}
    .insights-list-1{flex: 1;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .recent-insights-list{gap: 32px;}
    .recent-insights-item{padding-left: 32px;}
    .insights-list-3{flex: 0 0 calc(33.33333% - 22px);}
    .insights-list-2{flex: 0 0 calc(50% - 16px);}
    .insights-list-1{flex: 1;}
}
@media screen and (max-width: 1023px) and (min-width: 744px){
    .recent-insights-main{padding: 32px 0; align-items: center;}
    .recent-insights-lt h5{margin-bottom: 16px;}
    .recent-insights-list{gap: 32px;}
    .recent-insights-item{padding-left: 16px;}
    .insights-list-3{flex: 0 0 calc(33.33333% - 22px);}
    .insights-list-2{flex: 0 0 calc(50% - 16px);}
    .insights-list-1{flex: 1;}
}
@media screen and (max-width: 743px) and (min-width: 200px){
    .recent-insights-main{padding: 24px 0; align-items: center;}
    .recent-insights-lt h5{font-size: 14px; letter-spacing: 0.56px; text-transform: uppercase; line-height: 17.5px; opacity: 0.5; margin-bottom: 16px;}
    .recent-insights-item{width: 342px; font-size: 20px; line-height: 25px; padding: 0; margin-right: 30px;}
    .recent-insights-item::before{display: none;}
    .recent-insights-list .slick-list{overflow: inherit;}
    .recent-insights-list ul.slick-dots{margin: 24px 0 0; gap: 8px;}
    .recent-insights-list ul.slick-dots li{flex: 1; height: 8px; border-radius: 4px; background-color: var(--Light-Blue-Tint);}
    .recent-insights-list ul.slick-dots li.slick-active{background-color: var(--Light-Blue);}
}