.repeater-section{position: relative; clear:both; width: 100%;}
.repeater-main{padding: 40px 0;}

.repeater-txt h2{ font-weight: 600; margin-bottom: 26px;}
.repeater-txt p{color: var(--Gray);font-weight: 400; margin-bottom: 24px;}
.repeater-row{position: relative; height: auto; }
.repeater-block{ width: 104px; height: 104px; color: var(--White); top: 50%; transform: translate(-50%, -50%); z-index: 2; display: block; left: auto; right: auto; margin-left: 50px; background: white; border-radius:0 50% 50% 0; position: absolute; }

.repeater-block::before, .repeater-block::after{ position: absolute; content: ""; display: block; width: 60px; height: 60px; transform: rotate(-45deg); border-top: 28px solid var(--White); border-right: 28px solid transparent; border-left: 28px solid transparent; border-bottom: 28px solid transparent; border-radius: 50%; top: 76px; left: -25px;}
.repeater-block::after { top: -87px; transform: rotate(-120deg); left: -27px; }
.repeater-icon { width: 50px; height: 50px; top: 50%; transform: translate(-50%,-50%); left: 50px; z-index: 2; color: var(--Light-Blue); object-fit: contain; font-size: 40px; display: flex; align-items: center;}
.repeater-icon img{object-fit: contain;}
.repeater-bracket{ width: 80px; height: 100%; top: 0; border: 1px solid var(--Light-Blue); z-index: -1; }

@media screen and (min-width:1200px) {
  .repeater-txt h2{font-size: 40px; line-height: 50px;}
}
@media screen and (min-width:1024px) {
  .repeater-txt{flex: 0 0 50%; padding: 20px 80px;}
  .repeater-image{flex: 0 0 50%;}
  .repeater-bracket.left{left: 0; border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
  .repeater-bracket.right{right: 0; border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
  
  .repeater-row.row-reverse .repeater-block{right: -54px; transform: translate(-50%,-50%) rotate(-180deg);}
  .repeater-row.row-reverse .repeater-icon { left: auto; right: 0;}

}
@media screen and (max-width:1199px) and (min-width:1024px) {
  .repeater-txt h2{line-height: 40px; margin-bottom: 24px;}
  .repeater-txt{padding: 20px 64px 20px 48px;}
}
@media screen and (max-width:1023px) and (min-width:200px) {
  .repeater-row{flex-direction: column-reverse;}
  .repeater-bracket.left{display: none;}
  .repeater-bracket.right{display: none;}
  .repeater-bracket.bottom{width: 100%; height: 48px; bottom: 0; top: inherit; border-top: 0; border-top-right-radius: 0; border-top-right-radius: 0; border-top-left-radius: 0;}
  
  .repeater-icon{left: 30px;bottom: 30px; top:inherit; transform: inherit;}

  .repeater-block { top: inherit; transform: inherit; margin-left: inherit; border-radius: 0; bottom: 0; border-top-right-radius: 50%; }
  .repeater-block::before{ right: -88px; bottom: -30px; transform: rotate(220deg);top:inherit; left: inherit;}
  .repeater-block::after{left: -29px;}
}
@media screen and (max-width:1023px) and (min-width:744px) {
  .repeater-image{margin-bottom: 48px;}
  .repeater-txt{margin-bottom: 40px; padding: 0 32px;}
}

@media screen and (max-width: 743px) and (min-width: 200px) {
  .repeater-block{width: 78px; height: 78px;}
  .repeater-icon{left: 23px; bottom: 23px; width:30px; height: 30px; font-size: 30px;}
  .repeater-image{margin-bottom: 40px;}
  .repeater-txt{margin-bottom: 40px; padding: 0 24px;}
  .repeater-txt h2{font-size: 24px; line-height: 30px; margin-bottom: 22px;}
  .repeater-txt button{width: 100%;}
}