.sbr-slider-main{padding: 40px 0;}
.sbr-author-text{color: var(--Gray)}
.sbr-slider-author{padding-top: 37px;}
.sbr-author-btns{gap: 16px;}

.sbr-active .sbr-block{width: 56px; height: 56px; color: var(--White); top: 50%; transform: translate(-50%,-50%); z-index: 2; display: block; left: auto; margin-left: 50px; background: #fff; border-radius: 0 50% 50% 0; position: absolute; right: -28px; transform: translate(-50%,-50%) rotate(-180deg);}
.sbr-active .sbr-block::before, .sbr-block::after { position: absolute; content: ""; display: block; width: 40px; height: 40px; transform: rotate(-45deg); border-top: 28px solid var(--White); border-right: 28px solid transparent; border-left: 28px solid transparent; border-bottom: 28px solid transparent; border-radius: 50%; top: 28px; left: -27px; }
.sbr-active .sbr-block::after{ top: -68px; transform: rotate(-120deg); left: -28px; }

.sbr-active .sbr-icon{height: auto; top: 50%; transform: translate(-50%,-50%); left: auto; z-index: 2; color: var(--Light-Blue); object-fit: contain; font-size: 24px; display: flex; align-items: center; right: 4px; }

.sbr-block{display: none;}
.sbr-icon{display: none;}
.sbr-slide-image.sbr-active:after{display: none;} 

.sbr-slide-image::before{position: absolute; width: 40px; height: 40px; background: var(--White); color: var(--Blue); border-radius: 50%; left: auto; right: -16px; content:""; z-index: 2; top: 50%; transform: translate(-50%, -50%);}
.sbr-slide-image:after{position: absolute; width: 24px; font-size: 24px; color: var(--Light-Blue); content: "\f178"; display: block; right: 0; left: auto; font-family: "Font Awesome 6 Sharp"; top: 50%; transform: translate(-50%, -50%); z-index: 2; font-weight: 100;}
.sbr-active .sbr-slide-image::after{display: none;}
.sbr-slide-mobile{max-height: 0; overflow: hidden; transition: max-height 1s ease;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .sbr-slider-row{gap: 80px;}
    .sbr-slider-images{width: 390px; gap: 7px; flex-direction: column;}
    .sbr-slider-text{width: calc(100% - 470px);}
    .sbr-slide-desktop{display: none;}
    .sbr-slide-desktop h2{line-height: 60px;}
    .sbr-slide-image{height: 48px; cursor: pointer; transition: height 0.25s ease;}
    .sbr-slide-image:hover{height: 58px;}
    .sbr-active .sbr-slide-image{height: 512px;}
    .sbr-slide-image.sbr-hover-active{height: calc(512px - 10px);}
    .sbr-slider-author{gap: 40px;}
    .sbr-author-image{flex: 0 0 216px;}
    .sbr-author-text{flex: 1;}
    [data-sbr-text="1"]{display: block;}
    .sbr-slide-mobile{max-height: 0 !important;}
}
@media only screen and (max-width: 1023px) and (min-width: 744px){
    .sbr-slider-row{gap: 32px; flex-direction: column;}
    .sbr-slider-images{gap: 16px; flex-direction: row;}
    .sbr-slide-desktop{display: none;}
    .sbr-slide-desktop h2{font-size: 32px; line-height: 40px;}
    .sbr-for-slide{flex: 1; cursor: pointer; transition: flex 0.5s ease;}
    .sbr-for-slide.sbr-active{flex: 0 0 324px;}
    .sbr-slide-image img{min-height: 224px; max-height: 224px; overflow: hidden;}
    .sbr-slider-author{gap: 40px;}
    .sbr-author-image{flex: 0 0 160px;}
    .sbr-author-text{flex: 1;}
    [data-sbr-text="1"]{display: block;}
}
@media only screen and (max-width: 743px) and (min-width: 200px){
    .sbr-slider-row{display: block;}
    .sbr-slider-images{gap: 16px; flex-direction: column;}
    .sbr-slide-mobile h2{font-size: 32px; line-height: 40px;}
    
    .sbr-slide-image{height: 48px; overflow: hidden; cursor: pointer; transition: height 1s ease;}
    .sbr-active .sbr-slide-image{height: 224px;}

    .sbr-slider-author{gap: 40px;}
    .sbr-author-image{display: none;}
    .sbr-author-text{flex: 1;}
    [data-sbr-text="1"]{display: block; height: auto;}
    .sbr-slider-text{display: none;}
}