.sbr-slider-main{padding: 40px 0;}
body.page-template-marketing .sbr-slider-main{padding: 33px 0 73px;}
body.home .sbr-slider-main{padding: 88px 0 80px;}
body.page-template-services-detail-sub-page .sbr-slider-main{padding: 88px 0; border-bottom: 1px solid rgba(112, 115, 114, 0.5);}
.sbr-author-text{color: var(--Gray)}
.sbr-slider-author{padding-top: 37px;}
.sbr-author-btns{gap: 16px;}
.sbr-author-inf{ gap: 8px; color: var(--Blue); margin-bottom: 25px;}
.sbr-author-inf i{color: var(--Light-Blue); font-size: 20px;}

.sbr-active .sbr-block{width: 56px; height: 56px; color: var(--White); top: 50%; transform: translate(-50%,-50%); z-index: 2; display: block; left: auto; margin-left: 50px; background: #fff; border-radius: 0 50% 50% 0; position: absolute; right: -28px; transform: translate(-50%,-50%) rotate(-180deg);}
.sbr-active .sbr-block::before, .sbr-block::after { position: absolute; content: ""; display: block; width: 40px; height: 40px; transform: rotate(-45deg); border-top: 28px solid var(--White); border-right: 28px solid transparent; border-left: 28px solid transparent; border-bottom: 28px solid transparent; border-radius: 50%; top: 28px; left: -27px; }
.sbr-active .sbr-block::after{ top: -68px; transform: rotate(-120deg); left: -28px; }

.sbr-active .sbr-icon{height: auto; top: 50%; transform: translate(-50%,-50%); left: auto; z-index: 2; color: var(--Light-Blue); object-fit: contain; font-size: 24px; display: flex; align-items: center; right: 4px; }
.sbr-active .sbr-icon img{width: 24px; height: 24px; object-fit: contain;}

.sbr-block{display: none;}
.sbr-icon{display: none;}
.sbr-slide-image.sbr-active:after{display: none;} 


.sbr-slide-image::before{position: absolute; width: 40px; height: 40px; background: var(--White); color: var(--Blue); border-radius: 50%; left: auto; right: -16px; content:""; z-index: 2; top: 50%; transform: translate(-50%, -50%);}
.sbr-slide-image:after{position: absolute; width: 24px; font-size: 24px; color: var(--Light-Blue); content: "\f178"; display: block; right: 0; left: auto; font-family: "Font Awesome 6 Sharp"; top: 50%; transform: translate(-50%, -50%); z-index: 2; font-weight: 100;}
.sbr-active .sbr-slide-image::after{display: none;}
.sbr-slide-mobile{max-height: 0; overflow: hidden; transition: max-height 1s ease;}
.sbr-author-1024{display: none;}

body.page-template-industry-detail .sbr-slider-main:after{content: ""; display: block; background-color: var(--body-text); width: 100%; height: 1px; opacity: 0.5; margin-top: 80px;}
/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .sbr-slider-row{gap: 80px;}
    .sbr-slider-images{width: 390px; gap: 7px; flex-direction: column;}
    .sbr-slider-text{width: calc(100% - 470px); padding: 80px 0;}
    body.home .sbr-slider-text{padding: 0;}
    .sbr-slide-desktop{display: none;}
    .sbr-slide-desktop h2{line-height: 60px;}
    .sbr-slide-image img{height: 49px; cursor: pointer;  transform-origin: 50% 50%; transition: height 0.25s ease;}
    .sbr-slide-image:hover img{height: 59px; }
    .sbr-active .sbr-slide-image img{height: 512px;}
    .sbr-hover-active .sbr-slide-image img{height: calc(512px - 10px);}
    .sbr-slider-author{gap: 40px;}
    .sbr-author-image{flex: 0 0 216px;}
    .sbr-author-text{flex: 1;}
    [data-sbr-text="1"]{display: block;}
    .sbr-slide-mobile{max-height: 0 !important;}

    body.page-template-industry-detail .sbr-slider-main { padding:  80px 0 0 ; }
}
@media only screen and (min-width: 1440px){
    .sbr-slider-main{min-height: 680px;}
    .sbr-slider-text{align-items: center;}
}

@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .sbr-slider-row { gap: 40px; }
    .sbr-slide-desktop h2{font-size: 32px; line-height: 40px; margin-bottom: 0;}
    .sbr-slider-text {padding: 40px 0; width: calc(100% - 430px);}
    .sbr-slider-author { gap: 24px; }
    .sbr-author-image { flex: 0 0 160px; }
    .sbr-author-btns{display: none;}
    .sbr-author-1024{display: flex;}
    .sbr-author-inf {margin-bottom: 17px};
}
@media only screen and (max-width: 1023px) and (min-width: 744px){
    .sbr-slider-row{gap: 32px; flex-direction: column;}
    .sbr-slider-images{gap: 16px; flex-direction: row;}
    .sbr-slide-desktop{display: none;}
    .sbr-slide-desktop h2{font-size: 32px; line-height: 40px;}
    .sbr-for-slide{width: 97px;; cursor: pointer; transition: width 0.5s ease;}
    .sbr-for-slide.sbr-active{width: calc(100% - 340px);}
    .sbr-slide-image img{min-height: 224px; max-height: 224px; overflow: hidden;}
    .sbr-slider-author{gap: 40px;}
    .sbr-author-image{flex: 0 0 160px;}
    .sbr-author-text{flex: 1;}
    [data-sbr-text="1"]{display: block;}
    .sbr-slide-mobile{max-height: 0 !important;}
    
   
    .sbr-slide-image::before {left: 28px; right: auto; top: inherit;  bottom: -12px; }
    .sbr-slide-image::after {left: 28px; right: auto; top: inherit;  bottom: 0;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    body.home .sbr-slider-main{padding: 48px 0;}
    .sbr-active .sbr-block::after { top: -50px; transform: rotate(-126deg); left: -10px; }
    .sbr-active .sbr-block::before, .sbr-block::after {border-top: 10px solid var(--White); border-right: 10px solid transparent; border-left: 10px solid transparent; border-bottom: 10px solid transparent;}
    .sbr-active .sbr-block::before{ top: 7px; left: 46px; transform: rotate(-135deg);}

    .sbr-active .sbr-block { top: inherit; transform: inherit; margin-left: inherit; border-radius: 0; left:0; bottom: 0; border-top-right-radius: 50%; }

    .sbr-active .sbr-slide-image::before{display: none;}
    .sbr-active .sbr-icon { height: auto; top: inherit; transform: inherit; left: 14px; z-index: 2; color: var(--Light-Blue); object-fit: contain; font-size: 24px; display: flex; align-items: center; right: auto; bottom: 10px; }

}
@media only screen and (max-width: 743px) and (min-width: 200px){
    body.page-template-marketing .sbr-slider-main{padding: 40px 0;}
    .sbr-slider-row{display: block;}
    body.page-template-services-detail-sub-page .sbr-slider-main{padding: 48px 0;}
    .sbr-slider-images{gap: 16px; flex-direction: column;}
    .sbr-slide-mobile h2{font-size: 24px; line-height: 30px; margin-bottom: 18px;}
    .sbr-slider-author{padding-top: 0;}
    .sbr-author-inf {margin-bottom: 15px;}
    
    .sbr-slide-image{height: 48px; overflow: hidden; cursor: pointer; transition: height 0.5s ease;}
    .sbr-active .sbr-slide-image{height: 224px;}

    .sbr-slider-author{gap: 40px;}
    .sbr-author-image{display: none;}
    .sbr-author-text{flex: 1;}
    [data-sbr-text="1"]{display: block; max-height: inherit;}
    .sbr-slider-text{display: none;}
    .sbr-slide-desc{padding: 30px 0 16px;}

    .sbr-slide-image::before { left: 24px; right: auto; top: 50%; bottom: -12px; transform: translate(-50% ,-50%); }
    .sbr-slide-image::after { left: 0; right: auto; top: 0; bottom: 0; transform: rotate(90deg); }
    .sbr-author-text p{margin-bottom: 16px;}

    body.page-template-industry-detail .sbr-slider-main::after {margin-top: 48px;}
    body.page-template-industry-detail .sbr-slider-main{padding:40px 0 0;}
}