.services-tail-section{background-color: var(--Blue);}
.services-tail-decor{z-index: -1; opacity: 0.1;}
.service-tail-lt span{margin-bottom: 19px;}
.service-tail-lt h1{margin-bottom: 32px; font-size: 48px; line-height: 55px; color: var(--White);}
.service-tail-btns{gap: 16px;}



.service-tail-list{padding: 40px; color: var(--Gray);}
.service-tail-list h2{font-size: 24px; font-weight: 600; margin-bottom: 9px;}
.service-tail-icon{margin-bottom: 17px;}
.service-tail-icon i{color: var(--Light-Blue, #41B4FF); font-size: 40px; line-height: 40px;}
.service-tail-icon figure{width: 50px; height: 50px;}
.service-tail-icon figure img{object-fit: contain;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .service-tail-wrap{padding: 84px 0 80px;}
    .service-tail-main{gap: 80px; padding: 54px 0 49px;}
    .service-tail-lt{flex: 0 0 550px;}
    .service-tail-rt{flex: 1;}
    .service-tail-rt svg{margin-left: auto; display: block;}
    .services-tail-decor{top: 0; left: -315px;}
    
    .service-tail-row{gap: 32px; padding: 40px 0 0; justify-content: center;}
    .service-tail-list{flex: 0 0 calc(25% - 24px);}

}
