
.service-section{overflow: hidden;}
.service-wrapper::after{content: ""; position: absolute; width: 100%; height: 1px; background-color: var(--Gray); bottom: 0; left: 0; opacity: 0.5;}
.service-head h2{font-weight: 400; margin-bottom: 0;}
.service-head h2 strong{font-weight: 600;}
ul.service-subtitle{margin: 0 0 40px 0; gap: 20px;}
ul.service-subtitle > li{font-size: 24px; line-height: 24px; font-weight: 600; margin-bottom: 0;}
ul.service-subtitle > li::before{display: none;}
ul.service-subtitle > li a{color: var(--Gray);}
ul.service-subtitle > li a.active{color: var(--Blue);}
.service-item{font-size: 16px; line-height: 24px; font-weight: 400; color: var(--Gray); padding: 32px 32px 39px; background-color: var(--White); border: 1px solid #DBF5FF; border-radius: 24px; transition: all .5s ease;}
.service-item:hover{box-shadow: 0px 15px 20px #dbf5ff; border-color: transparent; transform: translateY(-20px);}
.service-item:hover .service-icon > i{left:30px; opacity: 0;}
.service-item:hover .service-icon > a > i.fa-arrow-right{left:0; opacity: 1;}
.service-icon{margin-bottom: 14px;}
.service-icon > i, .service-icon > a > i{font-size: 32px; color: var(--Light-Blue); line-height: 32px; position: relative; left: -30px; transition: all .5s ease;}
.service-icon > a > i.fa-arrow-right{color: var(--Orange); position: relative; left: -30px; opacity: 0; transition: all .5s ease;}
.service-item h6{margin-bottom: 15px;}

.service-item:last-child{text-align: center; border: 1px solid var(--Orange); display: flex !important; justify-content: center; align-items: center; flex-direction: column;}
.service-item:last-child .service-icon > i.fa-arrow-right{font-size: 70px; text-align: center; color: var(--Blue); opacity: 1; left: 0;}
.service-item:last-child:hover{box-shadow: none; border-color: var(--Orange); transform: none;}

.service-lists .slick-list{overflow: inherit;}
.service-lists .slick-track{display: flex;}
.service-lists .service-item.slick-slide{height: auto;}
.service-lists div.slick-arrow{border-radius: 50%; color: var(--White);}
.service-lists div.slick-arrow.slick-next{right: 0; top: -62px;}
.service-lists  div.slick-arrow.slick-prev{left: auto; right: 72px; top: -62px;}

.take-action-main{gap: 40px; align-items: center;}
.take-action-main h3{font-weight: 400; margin-bottom: 0;}
.take-action-main h3 strong{font-weight: 600;}
.take-action-btn{width: fit-content;}
.take-action-btn .text-btn-link > span{color: var(--Blue);}

@media screen and (min-width: 1024px) {
    .service-wrapper{padding: 80px 0 90px;}
    .service-svg{top: -25px; right: -104px; z-index: 0;}
    .service-head{max-width: 770px; margin-bottom: 84px;}
    .service-main{margin-bottom: 56px;}
    .service-item{width: 264px; margin-right: 32px;}
}

@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .service-wrapper{padding: 64px 0;}
    .service-head{max-width: 614px;}
    .service-head h2{font-size: 32px; line-height: 40px;}
    .service-svg{top: -16px; right: -63px;}
    .service-svg svg{width: 434px; height: 249px;}
}

@media screen and (max-width: 1023px) and (min-width: 744px) {
    .service-wrapper{padding: 80px 0 60px;}
    .service-svg{right: -40px; top: 0; z-index: 0;}
    .service-head{max-width: 531px; margin-bottom: 56px;}
    .service-head h2{font-size: 32px; line-height: 40px;}
    .service-main{margin-bottom: 56px;}
    ul.service-subtitle{margin: 0 0 40px 0; gap: 20px;}
    .service-item{width: 264px; margin-right: 24px;}
    .service-lists div.slick-arrow.slick-next{top: -80px;}
    .service-lists  div.slick-arrow.slick-prev{top: -80px;}

    .take-action-main{gap: 20px;}

}
@media screen and (max-width: 743px) and (min-width: 200px) {
    .service-wrapper{padding: 96px 0 48px;}
    .service-svg{top: -39px; right: -24px; z-index: 0;}
    .service-head{margin-bottom: 24px; padding-right: 36px;}
    .service-head h2{font-size: 28px; line-height: 34px;}
    .service-main{margin-bottom: 75px;}
    ul.service-subtitle{margin: 0 0 24px 0; gap: 20px;}
    .service-item{width: 288px; margin-right: 24px;}
    .service-append-arrows{margin: 24px 0 0; gap: 8px; align-items: center;}
    .service-append-arrows div.slick-arrow.slick-disabled{opacity: 0.25; background: var(--Navy); color: var(--Light-Blue);}
    .service-append-arrows div.slick-arrow.slick-next{order: 3;}
    .service-append-arrows div.slick-arrow span.slick-arrows{color: var(--Light-Blue);}
    .service-append-arrows ul.slick-dots{order: 2; flex: 1;}
    .service-append-arrows ul.slick-dots li{background-color: rgba(25, 35, 76, .12);}
    .service-append-arrows ul.slick-dots li.slick-active{background-color: var(--Light-Blue);}

    .take-action-main{gap: 20px;}
    .take-action-main h3{line-height: 32px;}
}