.short-intro-section{width: 100%; clear: both;}
.short-intro-main{padding: 40px 0;}
.short-intro-row{gap: 48px; margin-bottom: 40px;}
.short-intro-title h2{font-size: 40px; font-weight: 600; margin-bottom: 0;}
.short-intro-desc{color: var(--Foreground); padding: 0 0 0 25px;}

.short-intro-info{padding: 40px 0 40px; gap: 38px;}
.short-intro-list{color: var(--Gray);}
.short-intro-list h3{font-weight: 600; max-width: 250px; margin-bottom: 16px;}
.short-intro-icon{display: block; margin-bottom: 20px; color: var(--Orange); max-width: 40px; }
.short-arrow-img { flex: 0 0 104px; }

body.page-template-careers .short-intro-main::after { content: ""; display: block; background-color: var(--body-text); width: 100%; height: 1px; opacity: 0.5; margin-top: 48px; }
body.page-template-careers .short-intro-main{padding: 40px 0 0;}

@media screen and (min-width:1200px) {
    .short-intro-title { flex: 0 0 400px; }
    .short-intro-desc { flex: 0 0 calc(100% - 600px); }

    .short-intro-list{flex: 0 0 calc(25% - 30px);}
}

@media screen and (max-width:1199px) and (min-width: 1024px) {
    .short-intro-title { flex: 0 0 372px; }
    .short-intro-desc { flex: 0 0 calc(100% - 572px); }

    .short-intro-info{gap: 32px; padding: 0;}
    .short-intro-list{flex: 0 0 calc(25% - 24px);}


}

@media screen and (max-width: 1023px) and (min-width: 744px) {
    /* .short-intro-title { flex: 100%;} */
    .short-intro-row{margin-bottom: 48px;}
    .short-intro-desc { flex: 0 0 calc(100% - 152px); padding: 0;}

    .short-intro-info{gap: 32px; padding: 0;}
    .short-intro-list{flex: 0 0 calc(50% - 24px);}

}

@media screen and (max-width: 743px) and (min-width: 200px) {
    .short-intro-title h2{font-size: 32px;}
    .short-arrow-img{ order: 3; margin-left: -50px; flex: 0 0 208px;}

    .short-intro-desc{padding-left: 0; order:2;}
}
