
.social-proof-section{background: linear-gradient(180deg, rgba(25, 35, 76, 0.00) 0%, rgba(25, 35, 76, 0.50) 100%), var(--Blue); }
.social-proof-title h1{font-size: 64px; font-weight: 400; color: var(--White); line-height: 80px; margin-bottom: 0;}
.social-proof-title h1 strong{font-weight: 600; color: var(--Light-Blue);}
.counter-num{font-size: 56px; line-height: 56px; color: var(--White);}
.counter-desc{font-size: 16px; line-height: 24px; color: rgba(255, 255, 255, 0.6); padding-top: 20px; border-top: 1px solid var(--Light-Blue); margin-top: 20px;}
.social-dot-circle{width: 40px; height: 40px; display: block; border: 9px solid var(--Light-Blue); border-radius: 50%;}

/* .social-dot-circle > span{ animation: 5s socialZooming infinite linear; transform: scale(1); filter: opacity(0.1); -webkit-filter: opacity(0.1); background-color: var(--Blue);}
.social-dot-circle > span:nth-child(2) { -webkit-animation-delay: 2s; animation-delay: 2s; }
.social-dot-circle > span:nth-child(3) { -webkit-animation-delay: 4s; animation-delay: 4s; }
@keyframes socialZooming { 0% { transform: scale(1); opacity: 1; } 100% { transform: scale(5); opacity: 0; } }
 */


[data-count-to="100"]{min-width: 98px;}


@media screen and (min-width: 1024px){
    .social-proof-main{padding: 80px 0;}
    .social-proof-dot{order: 2; padding: 220px 0 209px; margin: 0 auto;}
    .social-proof-title{order: 1;}
    .social-proof-counter{gap: 64px; order: 3;}
    .social-proof-counter-list{flex: 0 0 calc(25% - 48px);}
}

@media screen and (max-width: 1299px) and (min-width: 1024px){
    .social-proof-dot{padding: 140px 0 188px;}
    .social-proof-counter{gap: 40px;}
    .social-proof-counter-list{flex: 0 0 calc(25% - 30px);}
}

@media screen and (max-width: 1023px) and (min-width: 744px) {
    .social-proof-main{padding: 80px 0;}
    .social-proof-dot{padding: 199px 0 91px; margin: 0 auto; order: 2;}
    .social-dot-circle{width: 40px; height: 40px; border: 9px solid var(--Light-Blue);}
    .social-proof-title{order: 1;}
    .social-proof-title h1{font-size: 48px; line-height: 60px; margin-bottom: 0;}
    .social-proof-counter{gap: 32px; order: 3; padding: 0;}
    .social-proof-counter-list{flex: 0 0 calc(50% - 16px);}
    .counter-num{font-size: 40px; line-height: 40px;}
    .counter-desc{padding-top: 8px; margin-top: 6px;}
}
@media screen and (max-width: 743px) and (min-width: 200px) {
    .social-proof-dot{padding: 183px 0 21px; margin-left: 14px;}
    .social-dot-circle{width: 16px; height: 16px; border: 4px solid var(--Light-Blue);}
    .social-proof-title{padding: 24px 0;}
    .social-proof-title h1{font-size: 32px; line-height: 40px;}
    .social-proof-counter{padding: 24px 0;}
    .social-proof-counter-list{margin-bottom: 32px;}
    .social-proof-counter-list:last-child{margin-bottom: 0;}
    .counter-num{font-size: 40px; line-height: 40px;}
    .counter-desc{padding-top: 8px; margin-top: 6px;}
}