




.timeline-slide { border: 1px solid var(--Light-Blue-Tint); padding: 32px; border-radius: 24px; } 
.t-circle-wrap{ margin-bottom: 16px;}
.t-number{ font-size: 48px; color: var(--Blue); display: inline-block; line-height: 55px; }
.t-circle-main{left: 143px; top: 50%; transform: translateY(-50%);}
.t-circle-main svg{left: -5px; top: 0.25px; position: relative;}
.t-circle-left{top: 50%; transform: translateY(-50%);}
.t-circle{top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: var(--Orange);}
.t-circle-1{width: 26px; height: 26px; opacity: 0.5;}
.t-circle-2{width: 38px; height: 38px; opacity: 0.15; z-index: 1;}
.t-circle-2::after{ opacity: 0.010; width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: var(--Orange); content: ""; transition-duration: .8s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1); border-radius: 50%; position: absolute;z-index: -1; animation: 8s tcircleZooming infinite linear; }
@keyframes tcircleZooming{ 0% { transform: translate(-50%, -50%) scale(1); opacity: 1; } 100% { transform: translate(-50%, -50%) scale(2); opacity: 0; } }

.timeline-slide p { color: var(--Gray); }

.timeline-row .slick-list{overflow: inherit;}
.slick-slider .timeline-slide{width: 296px; margin-right: 32px;}


body.page-template-about .timeline-section hr { margin: 40px 0; background: var(--Gray-50); height: 1px; width: 100%; }

/*-- media css starts here --*/
@media only screen and (min-width: 744px){
    .timeline-main { padding: 46px 0 80px; }
    .timeline-head { padding: 0 118px 54px 0;}
    .timeline-head h2{margin-bottom: 0;}
    .timeline-appends{right: -9px; top: 43px; max-width: 128px; justify-content: space-between; position: absolute;}
    .timeline-main { padding: 40px 0;}
    .timeline-head { padding: 0 138px 54px 0;}
    .timeline-appends{right: 0; top: 32px; max-width: 128px; justify-content: space-between; position: absolute;}
    .timeline-appends ul.slick-dots{width: 0; height: 0;}
}
@media only screen and (min-width: 1024px){
    .timeline-main { padding: 40px 0 79px;}
    .timeline-row { gap: 32px; flex-wrap: nowrap;} 
    .timeline-slide { flex: 0 0 calc(25% - 24px);} 
    .timeline-row.no-head {padding: 84px 0 0;}
    .timeline-section.no-section hr{display: none} 
    .timeline-section.no-section .timeline-main{padding: 55px 0 52px;}

}
@media screen and (max-width: 1023px) and (min-width: 744px){
    .timeline-main { padding: 40px 0 79px;}
    
}

@media screen and (max-width: 743px) and (min-width: 200px){
    .timeline-main { padding: 11px 0 40px; }
    .timeline-head{padding-bottom: 21px;}
    .slick-slider .timeline-slide{width: 296px; margin-right: 32px;}
    .timeline-appends { margin: 16px 0 36px; }
    body.page-template-about .timeline-section hr{margin-top: 5px;}
}
@media screen and (max-width: 389px) and (min-width: 200px){
    .timeline-slide{padding: 24px;}
    .slick-slider .timeline-slide{width: 273px; margin-right: 24px;}
}