


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    body.page-template-our-culture .video-main{padding: 40px 0;}  
    body.page-template-industries-detail .video-main{padding: 40px 0 65px;}  
    body.page-template-services-detail .video-main{padding: 41px 0 64px;}  
}
@media screen and (max-width: 1023px) and (min-width: 744px) {
.video-main{padding: 40px 0;}

}
@media screen and (max-width: 743px) and (min-width: 200px) {
    .play-btn-bg em{font-size: 29px;}
    body.page-template-industries-detail .video-main{padding: 40px 0 55px;} 
    body.page-template-services-detail .video-main{padding: 34px 0 58px;} 
}

