:root {
    --black: #000;
    --black-5: rgb(0 0 0 / 5%);
    --black-10: rgb(0 0 0 / 10%);
    --White-60: rgb(255 255 255 / 60%);
    --White-90: rgb(255 255 255 / 90%);
    --White: #ffffff;
    --body-text: #707372;
    --Blue: #004C97;
    --Dark-Blue: #19234C;
    --Light-Blue: #41B4FF;
    --light-green: #0CEECC;
    --light-pink: #FF599F;
    --Orange: #F17C23;
    --Foreground: #191D2A;
    --Gray: #707372;
    --Light-Blue-Tint: rgba(65,180,255,.15);
    --Navy: #19234c;
    --Dark-Blue-50: rgb(25 35 76 / 50%);
}