:root {
    --black: #000;
    --black-5: rgb(0 0 0 / 5%);
    --black-10: rgb(0 0 0 / 10%);
    --White-60: rgb(255 255 255 / 60%);
    --White-90: rgb(255 255 255 / 90%);
    --White-75: #F5F9FF;
    --White: #ffffff;
    --body-text: #707372;
    --Blue: #004C97;
    --Dark-Blue: #19234C;
    --Dark-Blue-40: rgb(25 35 76 / 40%);
    --Light-Blue: #41B4FF;
    --Light-Blue-50: rgb(65 180 255 / 50%);
    --light-green: #0CEECC;
    --light-pink: #FF599F;
    --Orange: #F17C23;
    --Orange-Tint-Bg: rgba(241, 124, 35, 0.15);
    --Foreground: #191D2A;
    --Background: #F0F2FA;
    --Gray: #707372;
    --Gray-50: rgb(112 115 114 / 50%);
    --Light-Blue-Tint: rgba(65,180,255,.15);
    --Navy: #19234c;
    --Navy-25: rgb(25 35 76 / 25%);
    --Dark-Blue-50: rgb(25 35 76 / 50%);
    --Light-Blue-15: rgba(65, 180, 255, 0.15); 
    --Teal:#00E1BF;
    --red: #da1a32;
    --Dim-Blue: #C2DAF4;
    --tin-blue: #E3f4FF;
}   