
select.selectBox{display: none;}
body .selectBox-dropdown{padding: 12px 34px 14px 14px; width: 100%; font-size: 0.875rem; line-height: 1.25rem; font-weight: 700; height: auto; border: 1px solid var(--Blue-Tint,#d9dff2); background: var(--Elevated, #F0F2FA); border-radius: 8px; color: var(--Blue); font-family: "arboria", sans-serif; display: block; cursor: pointer; position: relative; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
body .selectBox-dropdown span.selectBox-label a{color: inherit;}
body .selectBox-dropdown.selectBox-menuShowing{border-radius: 8px 8px 0 0;}
body .selectBox-dropdown .selectBox-arrow{width: 15px; height: 10px; right: 13px; top: calc(50% + 1px); transform: translateY(-50%); position: absolute; background-image: url("images/angle-down.svg"); background-repeat: no-repeat; background-size: contain;}
body .selectBox-dropdown.selectBox-menuShowing .selectBox-arrow{transform: translateY(-100%) rotate(180deg); top: calc(50% + 4px); }

body.page-template-marketing-lp ul.selectBox-dropdown-menu, body.page-template-demo ul.selectBox-dropdown-menu{border: 1px solid var(--Blue-Tint); box-shadow: none;}
ul.selectBox-dropdown-menu{margin: 0; padding: 0; top: 100%; left: 0; max-height: 213px; min-height: 1em; display: block; border-radius: 0 0 5px 5px; background-color: var( --White); border: 1px solid var(--White); position: absolute; z-index: 99999; white-space: nowrap; text-overflow: ellipsis; overflow: auto; box-shadow: 0 2px 2px #dadbdf;}
ul.selectBox-dropdown-menu li.selectBox-selected a{color: var(--Blue);}
ul.selectBox-dropdown-menu li:first-child{padding-top: 10px;}
ul.selectBox-dropdown-menu li:last-child{padding-bottom: 10px;}
ul.selectBox-dropdown-menu li.selectBox-disabled{display: none;}
ul.selectBox-dropdown-menu li{display: block; margin-bottom: 0; padding: 0; white-space: normal;}
ul.selectBox-dropdown-menu li::before{display: none;}
ul.selectBox-dropdown-menu li.frm-select-placeholder{display: none;}
ul.selectBox-dropdown-menu li a{padding: 8px 16px; width: 100%; color: var(--Foreground); cursor: pointer; font-size: 0.875rem; line-height: 1.5; font-weight: 500; display: block; text-transform: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
ul.selectBox-dropdown-menu li:hover a{color: var(--Blue); background-color: transparent;}
ul.selectBox-dropdown-menu li:hover{background-color: transparent; }
body.page-template-faq ul.selectBox-dropdown-menu{border: 1px solid var(--Blue-Tint,#d9dff2); border-top: none;}

body .res-dropdown-pos .selectBox-dropdown{ padding: 0; border: none; color: var(--Navy); font-family: var(--base-font); font-size: 28px; font-weight: 600; line-height: 38px; background: transparent;}
body .res-dropdown-pos .selectBox-dropdown .selectBox-arrow { top: calc(50% + 2px); right: 0; width: auto; height: auto; color: var(--Blue); font-size: 1.25rem; line-height: 1.25rem; position: absolute; font-family: "Font Awesome 6 Pro"; font-weight: 900; background: none; }
body .res-dropdown-pos .selectBox-dropdown span.selectBox-label{ padding-right: 30px; width: 100%; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
body .res-dropdown-pos .selectBox-menuShowing .selectBox-arrow{ top: calc(50% + 5px); transform: translateY(-50%) rotate(180deg); }
body .res-dropdown-pos .selectBox-dropdown .selectBox-arrow::before{ content: "\f078"; }


/* media css starts here */
@media only screen and (min-width: 1024px){
    body.category ul.selectBox-dropdown-menu{margin-top: 10px; gap: 10px; max-height: inherit; width: auto !important; max-width: 1000px; display:flex; flex-wrap: wrap; background: none; border: none; box-shadow: none;}
    body.category ul.selectBox-dropdown-menu li{margin: 0; padding: 0;}
    body.category ul.selectBox-dropdown-menu li a{display: flex; align-items: center; gap: 6px; font-size: 12px; line-height: 18px; padding: 8px 12px 7px; border-radius: 8px; background-color: var(--Navy); color: var(--White);}
    body.category ul.selectBox-dropdown-menu li.selectBox-selected a, body.category ul.res-tags-selectBox-dropdown-menu li a:hover{ background-color: var(--Orange); color: var(--White); }
    body.category ul.selectBox-dropdown-menu li.selectBox-selected a #close{opacity: .5; color: var(--White); display: block; font-weight: 900; font-family: "Font Awesome 6 Pro";}
    body.category ul.selectBox-dropdown-menu li.selectBox-selected a #close::before{content: "\f00d"; }
    body.category ul.selectBox-dropdown-menu li.res-tags-reset a::before{content: "\f2ea"; font-weight: 900; font-family: "Font Awesome 6 Pro";}
    body.category ul.selectBox-dropdown-menu li:first-child{display: none;}
}
@media only screen and (max-width: 743px) and (min-width: 200px){
    ul.selectBox-dropdown-menu{max-width: 100%;}
}