

.site-footer{background: linear-gradient(180deg, rgba(25, 35, 76, 0.00) 0%, rgba(25, 35, 76, 0.75) 100%), var(--Blue);}
.footer-mark{z-index: -1; top: 71px; left: -144px;}



.footer-line{border-radius: 1px; background: var(--Light-Blue);}
.footer-work{flex: 1; flex-direction: column;}
.footer-work span.f-fs-104{display: block;}


ul.footer-links{margin: 0; gap: 40px; flex: 1;}
ul.footer-links > li{margin: 0;}
ul.footer-links > li::before{display: none;}
ul.footer-links > li > a{font-size: 20px; line-height: 125%; font-weight: 600; color: var(--White); gap: 8px; align-items: center; display: flex;}
ul.footer-links > li > a figure{width: 32px; height: 32px; top: -2px; position: relative;}

.f-hr-main{gap: 26px;}
.f-hr-text{width: fit-content; color: var(--White-90);}
.f-hr-text strong{color: var(--White);}
.f-hr-line{flex: 1; width: 100%; height: 1px; background: var(--Light-Blue); display: block;}

.footer-list{padding: 16px; gap: 12px; background: rgba(25, 35, 76, 0.40);}
.footer-list i{color: var(--Light-Blue);}
.footer-list figure{width: 24px; height: 24px;}
.footer-list figure img{object-fit: contain;}

.copyright-text{font-size:.75rem; line-height:1.25rem; color: var(--White-60); }
ul.copyright-links {flex: 1; margin:0; gap: 0 20px; justify-content: flex-end;} 
ul.copyright-links > li { margin:0; font-size:.75rem; line-height:1.25rem; letter-spacing:0 } 
ul.copyright-links > li::before { display:none } 
ul.copyright-links > li > a{ color: var(--White-60); }
ul.copyright-links>li.current-menu-item>a, ul.copyright-links>li>a:hover { color:var(--Orange) }
  
/* media css starts here */
@media screen and (min-width: 1024px){
    .footer{padding: 80px 0;}
    .footer-top-wrap{padding: 172px 0;}
    .footer-logo{width: 342px;}
    .footer-line{width: 1px; height: 136px;}
    .footer-btn{margin-top: 3px; padding-right: 12px; justify-content: flex-end;}
    .footer-middle{padding: 0 40px 62px;}
    .footer-text{padding: 0 40px;}
    .copyrights-main{padding: 0 40px; gap: 16px;}
    .copyright-text{flex: 0 0 300px;}
}
@media screen and (min-width: 1300px){
    .footer-top{gap: 59px;}
    .footer-row{gap: 20px; padding: 20px 0 65px;}
    .footer-list{flex: 0 0 calc(14.3333% - 18px); flex-direction: column;}
    .footer-list:nth-child(7){margin-left: auto;}
}
@media screen and (min-width: 1440px){
    .footer-work{padding-left: 6px;}
    .f-fs-104{ font-size: 104px; line-height: 104px;}
}
@media only screen and (max-width: 1439px) and (min-width: 1200px){
    .f-fs-104{ font-size: 89px; line-height: 89px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1200px){
    .footer-top{gap: 38px;}

    .footer-text{padding-bottom: 62px;}
    .f-hr-main{margin-bottom: 20px;}
    .footer-row{gap: 16px; align-items: center;}
    .footer-list{flex: 0 0 calc(25% - 12px); flex-direction: row; align-items: center;}
    .footer-list:nth-child(-n+3){flex: 0 0 calc(33.333333% - 11px);}
    .footer-list p{flex: 1;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .footer-top{gap: 38px;}
    .f-fs-104{ font-size: 67px; line-height: 67px;}

    .footer-text{padding-bottom: 62px;}
    .f-hr-main{margin-bottom: 20px;}
    .footer-row{gap: 16px; align-items: center;}
    .footer-list{flex: 0 0 calc(25% - 12px); flex-direction: row; align-items: center;}
    .footer-list:nth-child(-n+3){flex: 0 0 calc(33.333333% - 11px);}
    .footer-list p{flex: 1;}
}
@media only screen and (max-width: 1023px) and (min-width: 744px){
    .footer-mark { top: 43px; left: -235px; width: 828px; height: 571px; }
    .footer{padding: 80px 0 80px;}
    .footer-top-wrap{padding: 0 0 65px;}
    .footer-top{padding: 56px 0 37px; display: block;}
    .footer-logo{max-width: 257px; margin-bottom: 24px;}
    .footer-line{width: 100%; height: 1px; margin-bottom: 13px;}
    .f-fs-104{ font-size: 84px; line-height: 84px;}

    .footer-middle{gap: 0 8px;}
    ul.footer-links{gap: 15px; flex-direction: column;}
    ul.social-icons{gap: 14px; flex-direction: column;}
    .footer-middle{padding: 0 0 62px;}

    .footer-text{padding-bottom: 62px;}
    .f-hr-main{margin-bottom: 20px;}
    .f-hr-text{flex: 1;}
    .f-hr-line{flex: 0 0 280px;}

    .footer-row{gap: 16px;}
    .footer-list{flex: 0 0 calc(25% - 12px);}
    .footer-list:nth-child(-n+3){flex: 0 0 calc(33.333333% - 11px); align-items: center;}
    .footer-list:nth-child(-n+3) p{flex: 1;}

    .copyrights-main{display: block;}
    .copyright-text{margin-bottom: 10px;}
    ul.copyright-links{justify-content: flex-start;}
}
@media only screen and (max-width: 743px) and (min-width: 200px){
    .footer-mark { top: 15px; left: -235px; width: 828px; height: 571px; }
    .footer{padding: 40px 0;}
    .footer-top-wrap{padding: 0 0 65px;}
    .footer-top{padding: 56px 0 37px; display: block;}
    .footer-logo{max-width: 257px; margin-bottom: 24px;}
    .footer-line{width: 100%; height: 1px; margin-bottom: 13px;}
    .f-fs-104{ font-size: 64px; line-height: 64px;}
    .footer-btn .text-btn-link{width: 100%;}
    .footer-btn .text-btn-link span{flex: 1; text-align: center;}
    .footer-middle{gap: 0 8px;}
    ul.footer-links{gap: 15px; flex-direction: column;}
    ul.social-icons{gap: 14px; flex-direction: column;}
    .footer-text{display: none;}
    .footer-middle{padding: 0 0 62px;}
    .copyrights-main{display: block;}
    .copyright-text{margin-bottom: 10px;}
    ul.copyright-links{justify-content: flex-start;}
}
@media only screen and (max-width: 480px) and (min-width: 200px){
    .footer-work span.f-fs-104{max-width: 280px;}
}
@media screen and (max-width: 389px) and (min-width: 200px){
    .footer-middle{flex-direction: column; gap: 32px; padding: 0 0 32px;}
}